<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="container">
        <h1 class="banner">Data Movies and Directors&ensp;<a class="tutorial" href="/api/ui">(Go To API)</a></h1>
        <div class="error"></div>
        <div class="movie">
            <table class="table_movie">
                <caption>Movie</caption>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Release Date</th>
                        <th>Budget</th>
                        <th>Revenue</th>
                        <th>Popularity</th>
                        <th>Director Id</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="director">
            <table class="table_director">
                <caption>Director</caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="static/js/home.js"></script>

</html>